@media only screen and (max-width:750px) {
    .nav-bar-text{
        display: none;
    }
    .nav-bar-link{
        padding: 0px;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

hr .main-breaker {
    border-top: 2px darkslategray;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
}

.nav-bar-list{
    list-style-type: none;
    align-self: center;
    text-align: center;
}
.nav-bar-link{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav-bar-link a:hover{
    color: lightseagreen;
}

.main{
    display: block;
    padding-top: 100px;
    font-family: sans-serif;
    color: #333;
}

.section-header {
    text-align: center;
    font-size: 3vw;
    text-shadow: 1px 1px gainsboro;
    width: auto;
}

.name-header{
    text-align: center;
    font-family: sans-serif;
    font-size: 6vw;
    text-shadow: 1px 1px gainsboro;
    color:#333;
}

.title-header{
    text-align: center;
    font-family: sans-serif;
    font-size: 4vw;
    text-shadow: 1px 1px gainsboro;
    color: #333;
}

.work-history-name {
    text-align: center;
    width: auto;
}

.work-history-title {
    text-align: center;
    font-size: 3vw;
    margin: 10px;
    text-decoration: solid underline;
}

.company-list {
    display: flex;
    border-color: #333333;
    flex-wrap: wrap;
    width: auto;
}

.company {
    border-color: #333;
    border-style: groove;
    list-style: none;
    padding: 5px;
    margin: 20px;
    box-shadow: 2px 2px gainsboro;
    width: 500px;
}

.work-history-dates {
    text-align: center;
    margin: 10px;
}

.work-history-item {
    list-style:disc;
    margin: 10px;
    text-align:justify;
    margin-right: 15px;
    width: 400px;
}

.education-list {
    list-style: none;
    display: flex;
    flex-wrap: auto;
    width: auto;
}

.education-item {
    border-color: #333;
    border-style: groove;
    list-style: none;
    padding: 5px;
    margin: 20px;
    box-shadow: 2px 2px gainsboro;
    width: 500px;
}


